<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
			xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
			xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
			
			<servlet>
				<servlet-name>ViewTid</servlet-name>
				<servlet-class>com.teacher.ViweTeacherServelt</servlet-class>
			</servlet>
			
			<servlet-mapping>
				<servlet-name>ViewTid</servlet-name>
				<url-pattern>/teacher</url-pattern>
			</servlet-mapping>
			
			<servlet>
				<servlet-name>ViewT</servlet-name>
				<servlet-class>com.teacher.ViweTeacherServelt2</servlet-class>
			</servlet>
			
			<servlet-mapping>
				<servlet-name>ViewT</servlet-name>
				<url-pattern>/tom</url-pattern>
			</servlet-mapping>
			
			<servlet>
				<servlet-name>insert</servlet-name>
				<servlet-class>com.teacher.DataUplordTeacherServlet</servlet-class>
			</servlet>
			
			<servlet-mapping>
				<servlet-name>insert</servlet-name>
				<url-pattern>/insert</url-pattern>
			</servlet-mapping>
			
			<servlet>
				<servlet-name>update</servlet-name>
				<servlet-class>com.teacher.UpdateTeacherServlet</servlet-class>
			</servlet>
			
			<servlet-mapping>
				<servlet-name>update</servlet-name>
				<url-pattern>/uploadTeacherData</url-pattern>
			</servlet-mapping>
			
			<servlet>
				<servlet-name>DeletTid</servlet-name>
				<servlet-class>com.teacher.DeletTeacherServlet</servlet-class>
			</servlet>
			
			<servlet-mapping>
				<servlet-name>DeletTid</servlet-name>
				<url-pattern>/delete</url-pattern>
			</servlet-mapping>
			
			<servlet> 
				<servlet-name>login</servlet-name>
				<servlet-class>com.teacher.LoginServlet</servlet-class>
			</servlet>
			
			<servlet-mapping>
				<servlet-name>login</servlet-name>
				<url-pattern>/log</url-pattern>
			</servlet-mapping>
			
			
			<servlet> 
				<servlet-name>AdminLogin</servlet-name>
				<servlet-class>com.teacher.AdminLoginServlet</servlet-class>
			</servlet>
			
			<servlet-mapping>
				<servlet-name>AdminLogin</servlet-name>
				<url-pattern>/AdminLogin</url-pattern>
			</servlet-mapping>
			
			
			<servlet> 
				<servlet-name>SearchTeacher</servlet-name>
				<servlet-class>com.teacher.NameTeacherSearchServet</servlet-class>
			</servlet>
			
			<servlet-mapping>
				<servlet-name>SearchTeacher</servlet-name>
				<url-pattern>/SearchT</url-pattern>
			</servlet-mapping>
</web-app>